html, body {
  margin: 20px;
  background: #DDDDDD;
}

.calendar-container{
  position: absolute;
  min-width: 160px;
  background: white;
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.calendar-container table.table.table-bordered td {
  padding: 5px;
  border: 1px solid #F3F3F3;
  cursor: default;
}
.calendar-container table.table.table-bordered tr th {
  padding: 5px;
  border: 1px solid #F3F3F3;
  font-size: 13px;
}


.calendar-container table td span.label.label-primary {
  padding: 0.5em 0.8em;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  color: white;
}
.calendar-container table.table.table-bordered td.selectable {
  cursor: pointer;
}
.calendar-container table td span.label {
  color: black;
  padding: 0.5em 0.8em;
}

.calendar-container table td.selectable:hover span {
  background: #F1F1F1;
}
.calendar-container table td.selectable:hover span.label-primary {
  background: #428bca;
  color: white;
}

.calendar-container table td span.label.unavailable.greyed{
  color: #DDDDDD;
  background: white;
}
.calendar-container table td span.label.unavailable{
  background: #FFF7F7;
}


.calendar-container select{
  opacity: 0;
  appearance: menulist-text;
  -webkit-appearance: menulist-text;
  -moz-appearance: menulist-text;
  text-indent: 1px;
  text-overflow: '';
  padding-right: 16px;
  height: auto;
  line-height: 16px;
  border: none;
  cursor: pointer;
}

.calendar-container span.select{
  position: absolute;
  width: 80%;
}

.calendar-container select:focus{
  outline: none;
}

.pad-bot-3{
  padding-bottom: 3px;
}
