html, body {
  margin: 20px;
  background: #DDDDDD;
}

.calendar-container{
  position: absolute;
  min-width: 160px;
  background: white;
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.calendar-container table td {
  padding: 3px;
  border: 1px solid #F3F3F3;
}
.calendar-container table td span.label {
  padding: 0.6em 0.9em;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);

}
.calendar-container table td.selectable {
  cursor: pointer;
}

.calendar-container table td.selectable:hover span {
  padding: 0.6em 0.9em;
  background: #DDDDDD;
}

.greyed{
  color: #DDDDDD;
}

select.btn-mini {
    height: auto;
    line-height: 16px;
}

/* this is optional (see below) */
select.btn {
    -webkit-appearance: button;
       -moz-appearance: button;
            appearance: button;
    padding-right: 16px;
}

.pad-bot-3{
  padding-bottom: 3px;
}
